body, html {
   height: 100%;
}

body {
   margin: 0;
}

.banner-background {
   background-image: url('../images/background-banner.jpg');
   height: inherit;
}

.banner-description {
   position: absolute;
   transform: translate(-50%, -50%);
   top: 25%;
   left: 50%;
   font-size: 35px;
   font-weight: bold;
   color: #fff;
}